/halo.exe
/halo1.exe
/initvar.exe
/assigni.exe
/assignf.exe
/assignKar.exe
/konstanta.exe
/bacaNum.exe
.fake
.vscode
/bacaKar.exe
/aritmatika.exe
/boolOP.exe
/relasional.exe
/gabungan.exe
/inkremen.exe
/IF1.exe
/IF_ELSE.exe
/IF_ELSE_IF.exe
/for.exe
/WHILEdo.exe
/doWHILE.exe
/forever.exe
/tabel1.exe
/tabel2.exe
/max.exe
/maxsort.exe
/seqsearch.exe
/fadd.exe
/random.exe
/proc.exe
/luaslink.exe